<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./styles/style.css" rel="stylesheet">
  
</head>
<body class="bg">
  <h1>Welcome to your Word Storage!</h1>
  <h2>
    Enter your words!
  </h2>
  <form action="/submit" method="POST" autocomplete="off">
    <div class="container">
      <label for="Turkish">Turkish: </label>
      <input type="text" id="Turkish">
    </div>
    <div class="container">
      <label for="English">English: </label>
      <input type="text" id="English">
    </div>
    <button type="submit">Submit</button>
  </form>
</body>
</html>